@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px; 
    list-style: none;
    font-family: Embed;
}



header {
    /*estilizando a lista não ordenada*/
    background-color: #d4cdc5;
    /*cor */
    padding: 40px;
    /*tamaho*/
    display: flex;
    /* dxa a sessão flex */
    justify-content: end;
    /* jutifica o conteúdo */
    align-items: center;
    /* alinha os itens */
}

header div i {
    color: white;
    font-size: 50px;
}

header nav ul {
    /* estilizando a lista não ordenada */
    display: flex;
    /*clc os ngc lado a lado*/
}

header nav ul li {
    /* estilizando a lista não ordenada */
    margin-left: 20px;
    /* espaçamento entre as listas */
}

header nav ul li a {
    /* estilizand a lista nçao ordenada */
    color: gray;
    /*cor da letra*/
    text-decoration: none;
    /*tira o sublinhado*/
    font-size: 15px;
    /*tamanho da letra*/
    margin-left: 15px;
    /*espaçamento entre as lista*/
}

header li a:hover {
    /*muda o ngc qndo passa o mouser*/
    color: #b3c5ba;
    /*cor p qndo passar o mouse*/
    transition: 1s;
    /*transição*/
}








.sessão-1 {
    /* estilizando a primeira sessão */
    padding: 100px;
    /*tamanho sa sessão*/
    background-color: #5b88a5;
    /*cor da sessão*/
}

.sessão-1 h1 {
    /*título da primeira sessão*/
    color: rgb(51, 45, 45);
    /*cor da letra*/
    font-size: 40px;
    /*tamanho da letra*/
    font-weight: 700;
    /*dxa tipo em negrito*/
}

.sessão-1 p {
    /* estilizando o parágrafo */
    margin-top: 10px;
    /*espaço de cima*/
    margin-bottom: 10px;
    /*espaço de baixo */
    font-size: 15px;
    /*tamanho da letra*/
}


.sessão-1 div img {
    /* estilizando a imagem */
    width: 300px;
    /*largura da imagem*/
    margin-top: 60px;
    height: auto;
    /*altura automatica da imagem*/
}



.sessão-1 button {
    /* estilizando o botão */
    width: 250px;
    /*largura do botão*/
    height: 35px;
    /*altura do botão*/
    border-radius: 20px;
    /*preenchimento da borda*/
    border-color: rgb(26, 45, 73);
    /*cor do botão*/
    margin: 20px;
}


.sessão-1 button:hover {
    /* muda os ngc qndo o mouser passa */
    color: white;
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(75, 103, 136);
    /*alterando a cor de fundo*/
    border-color: white;
    /*cor da letra ao passar o mouse*/
}






.sessão-2 {
    padding: 200px;
    /*tamanho da sessão*/
    background-color: #243a69;
    /*cor da sessão*/
}


.sessão-2 p {
    /* estilizando o paragrafo */
    margin-top: 10px;
    /*espaço de cima*/
    margin-bottom: 10px;
    /*espaço de cima */
    font-size: 18px;
    /*tamanho da letra*/
}

.sessão-2 ul li {
    font-size: 20px;
}

.sessão-2 button {
    /* estilizando o botão */
    width: 250px;
    /*largura do botão*/
    height: 35px;
    /*altura do botão*/
    border-radius: 20px;
    /*preenchimento da borda*/
    border-color: azure;
    /*cor do botão*/
    margin: 20px;
}


.sessão-2 button:hover {
    /* muda os ngc qndo o mouser passa */
    color: white;
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(108, 140, 167);
    /*alterando a cor de fundo*/
    border-color: white;
    /*cor da letra ao passar o mouse*/
}


#sessão-3 {
    padding: 120px;
    /*tamanho da sessão*/
    background-color: #243a69;
    /*cor da sessão*/
}


.div-1 div {
    width: 250px;
    height: 350px;
}

.div-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
}


.div-1 .div-01 {
    background-image: url(imagens/vacina-de-filhote-de-cachorro\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}


.div-1 .div-02 {
    background-image: url(imagens/clinica-veterinaria-e-pet-shop.jpg);
    background-size: cover;
    background-position: center;
}


.div-1 .div-03 {
    background-image: url(imagens/petshop_venda_animais.jpg);
    background-size: cover;
    background-position: center;
}



.sessão-5 {
    /* estilizando a primeira sessão */
    padding: 100px;
    /*tamanho sa sessão*/
    background-color: #5b88a5;
    /*cor da sessão*/
}


.sessão-5 h1 {
    /*título da primeira sessão*/
    color: rgb(51, 45, 45);
    /*cor da letra*/
    font-size: 40px;
    /*tamanho da letra*/
    font-weight: 700;
    /*dxa tipo em negrito*/
}


.sessão-5 p {
    /* estilizando o paragrafo */
    margin-top: 10px;
    /*espaço de cima*/
    margin-bottom: 10px;
    /*espaço de cima */
    font-size: 18px;
    /*tamanho da letra*/
}


.sessão-5 button {
    /* estilizando o botão */
    width: 250px;
    /*largura do botão*/
    height: 35px;
    /*altura do botão*/
    border-radius: 20px;
    /*preenchimento da borda*/
    border-color: azure;
    /*cor do botão*/
    margin: 20px;
}


.sessão-5 button:hover {
    /* muda os ngc qndo o mouser passa */
    color: white;
    /*cor da letra*/
    transition: 1s;
    /*tempo de transição*/
    background-color: rgb(108, 140, 167);
    /*alterando a cor de fundo*/
    border-color: white;
    /*cor da letra ao passar o mouse*/
}




footer {
    /* estilizando o rodapé */
    padding: 50px;
    /* tamanho da sessão */
    background-color: #d4cdc5;
    /* cor de fundo */
    text-align: center;
    /* alinhando os itens */
}

footer ul li a {
    color:gray;
    /*cor da letra*/
    text-decoration: none;
    /*tira o sublinhado*/
    font-size: 18px;
    /*tamanho da letra*/
}
